/* =======================================================================
   @font-face declarations
   LINK: How to define font-weight and style - http://cbrac.co/TMxZps
   LINK: Smoother @font-face rendering in Chrome - http://cbrac.co/U4mSbc
   NOTE: paths starting with "../" do not work here
   ========================================================================== */

/* YourFontName: Normal
@font-face {
    font-family: "YourFontName";
    src: url("/path/to/YourFont.eot");
    src: url("/path/to/YourFont.eot?#iefix") format("embedded-opentype"),
         url("/path/to/YourFont.svg#YourFontName") format("svg"),
         url("/path/to/YourFont.woff") format("woff"),
         url("/path/to/YourFont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}*/

/* ==========================================================================
   Base styles
   ========================================================================== */

/*
 * Force vertical scrollbar in non-IE: http://cbrac.co/QziGF5
 * WARNING: Avoid the webkit anti-aliasing trap - http://cbrac.co/TAdhbH
 */

html {
    overflow-y: scroll;
}

/*
 * 1. Consistent text color across different HTML elements
 */

html,
button,
input,
select,
textarea {
    color: #222; /* 1 */
}

/*
 * Establish initial font size and line height for the baseline grid
 */

body {
    font-size: 1.000rem;
    line-height: 1.500rem;
}

/*
 * Remove text-shadow in selection highlight: http://cbrac.co/Q6swON
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/* ==========================================================================
   Links
   ========================================================================== */

/*
 * 1. Define a mobile tap highlight color (iOS 1.1.1+)
 */

a:link {
    -webkit-tap-highlight-color: #b3d4fc; /* 1 */
}

a:hover {
    text-decoration: none;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/*
 * 1. Sets common typographic elements to a baseline grid
 */

blockquote,
dl,
hr,
menu,
ol,
p,
pre,
ul {
    font-size: 1.000rem;  /* 1 */
    margin: 0 0 1.500rem; /* 1 */
}​

big {
    font-size: 2.000rem;
}

blockquote {
    margin-left: 40px;
}

blockquote p {
    margin: 0;
}

blockquote p + p {
    margin-top: 1.5000rem;
}

/*
 * Use <footer> tag instead of <cite> inside blockquotes: http://cbrac.co/TCVK4P
 */

blockquote footer:before {
    content: "\2014 \2009";
}

blockquote footer {
    color: #686868;
    font-style: italic;
}

code {
    margin: 0 5px;
    padding: 0 5px;
    background-color: #f8f8f8;
    border: 1px solid #eaeaea;
    -webkit-border-radius: 3px; /* Safari 3-4, iOS 1-3.2, Android ≤ 1.6 */
    -moz-border-radius:    3px; /* Firefox 1.0+ */
    border-radius:         3px; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
}

del {
    text-decoration: line-through;
}

details {
    cursor: pointer;
}

em,
i,
cite {
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: inherit;
  font-family: sans-serif;
  font-weight: 700;
  line-height: 1.500rem;
  margin-bottom: 1.5000rem;
  text-rendering: optimizeLegibility; /* Use with care: http://cbrac.co/UkurL4 */
}

h1,
.t-xlarge {
    font-size: 3.157rem;
    line-height: 3.000rem;
}

h2,
.t-large {
    font-size: 2.369rem;
    line-height: 3.000rem;
}

h3,
.t-medium {
    font-size: 1.333rem;
}

h4,
h5,
h6,
.t-normal {
    font-size: 1.000rem;
}

hr {
    border: 0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid white;
}

.huge {

}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}

pre {
    padding: 1.500rem;
    -webkit-border-radius: 5px; /* Safari 3-4, iOS 1-3.2, Android ≤ 1.6 */
    -moz-border-radius:    5px; /* Firefox 1.0+ */
    border-radius:         5px; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
    background: #333;
    color: #d0d0d0;
}

/*
 * Remove above <code> styles when inside <pre> tags
 */

pre code {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}

/*
 * Nested list style types for ordered lists
 */

ol          { list-style: decimal; }
ol ol       { list-style: upper-alpha; }
ol ol ol    { list-style: lower-roman; }
ol ol ol ol { list-style: lower-alpha; }

/* ==========================================================================
   Non-texual elements
   ========================================================================== */

/*
 * Remove fieldset styles from normalize.css
 */

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

/*
 * Fluid-width media that keep their aspect ratio
 */

audio,
embed,
iframe,
img,
object,
video {
    width: auto\9;
    max-width: 100%;
    height: auto;
}

/*
 * Remove the gap between images and the bottom of their containers: http://cbrac.co/Q6smqV
 */

img {
    vertical-align: middle;
}

/*
 * Add vendor prefixes for `box-sizing` that normalize.css omits
 */

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box; /* ≤ iOS4, ≤ Android  2.3 */
    -moz-box-sizing:    border-box; /* Firefox 1+ */
}

/*
 * Restrict textareas to vertical resizing only
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Baseline grid guide!
   (for development only, remove this on production sites)
   ========================================================================== */

.bl-grid {
    display: none; /* Hide by default */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(hsla(0, 0%, 0%, 0) 95%, hsla(0, 25%, 50%, 0.25) 95%);
    background-image: -moz-linear-gradient(hsla(0, 0%, 0%, 0) 95%, hsla(0, 25%, 50%, 0.25) 95%);
    background-image: -ms-linear-gradient(hsla(0, 0%, 0%, 0) 95%, hsla(0, 25%, 50%, 0.25) 95%);
    background-image: -o-linear-gradient(hsla(0, 0%, 0%, 0) 95%, hsla(0, 25%, 50%, 0.25) 95%);
    background-image: linear-gradient(hsla(0, 0%, 0%, 0) 95%, hsla(0, 25%, 50%, 0.25) 95%);
    background-position: 50% 0;
    background-size: 1.500rem 1.500rem;
}

.bl-grid-toggle {
    position: fixed;
    top: 1.500rem;
    right: 5%;
    z-index: 9999;
    margin-top: -1px;
}

.bl-grid-on {
    position: relative;
}

/* ==========================================================================
   Grid system
   ========================================================================== */

.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

/* Use this class if you want to add a border to the bottom of a column */
.divide-bottom {
    border-bottom: 1px solid #ccc;
    margin-top: -1px; /* Maintains the baseline grid */
    margin-bottom: 1.5rem;
}

/* Use this class if you want a full-width column */
.strip {
    background: #efefef;
    padding: 1.500rem 0;
    margin: 0 0 1.500rem;
}

.strip :last-child {
    margin-bottom: 0;
}

/* Use these classes if you want to make a column stand out */
.island {
    padding: 1.500rem;
    background-color: #efefef;
    background-color: hsla(0, 0%, 94%, 1);
    -webkit-border-radius: 5px; /* Safari 3-4, iOS 1-3.2, Android ≤ 1.6 */
    -moz-border-radius:    5px; /* Firefox 1.0+ */
    border-radius:         5px; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
}

.well {
    padding: 1.500rem;
    background-color: #efefef;
    background-color: hsla(0, 0%, 94%, 1);
    -webkit-box-shadow: inset 0 0 5px hsla(0, 0%, 0%, 0.10); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    inset 0 0 5px hsla(0, 0%, 0%, 0.10); /* Firefox 3.5+ */
    box-shadow:         inset 0 0 5px hsla(0, 0%, 0%, 0.10); /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
    -webkit-border-radius: 5px; /* Safari 3-4, iOS 1-3.2, Android ≤ 1.6 */
    -moz-border-radius:    5px; /* Firefox 1.0+ */
    border-radius:         5px; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
}

.island :last-child,
.well :last-child {
    margin-bottom: 0;
}

.grid-col .island,
.grid-col .well {
    margin-bottom: 1.5rem;
}

/* Set up your grids */
.grid-wrap {
    margin-left: -3rem;
}

.grid-col {
    float: left;
    padding-left: 3rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}

.half-gutter {
    margin-left: -1.5rem;
}

.half-gutter .grid-col {
    padding-left: 1.5rem;
}

/*
 * Use these classes if you need columns
 * in the initial layout
 */

.col-full {
    width: 100%;
}

.col-one-half {
    width: 50%;
}

.col-one-third {
    width: 33.333%;
}

.col-two-thirds {
    width: 66.666%;
}

.col-one-quarter {
    width: 25%;
}

.col-three-quarters {
    width: 75%;
}

/* ==========================================================================
   CSS3 Buttons
   ========================================================================== */

.btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 8px 9px;
    border-width: 1px;
    border-style: solid;
    border-color: #c5c5c5;
    border-color: hsla(0, 0%, 77%, 1);
    -webkit-border-radius: 3px; /* Safari 3-4, iOS 1-3.2, Android ≤ 1.6 */
    -moz-border-radius:    3px; /* Firefox 1.0+ */
    border-radius:         3px; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
    background: #e5e5e5;
    -webkit-box-shadow: inset 0 0 1px 1px hsla(0, 0%, 96%, 1); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    inset 0 0 1px 1px hsla(0, 0%, 96%, 1); /* Firefox 3.5+ */
    box-shadow:         inset 0 0 1px 1px hsla(0, 0%, 96%, 1); /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
    color: #333;
    color: hsla(0, 0%, 20%, 1);
    font-size: 14px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px 0 hsla(0, 0%, 100%, 1);
    cursor: pointer;
}

.btn:hover {
    background: #ececec;
    background: hsla(0, 0%, 93%, 1);
    color: #222;
    color: hsla(0, 0%, 13%, 1);
    cursor: pointer;
}

.btn:active {
    -webkit-box-shadow: inset 0 0 6px hsla(0, 0%, 0%, 0.10); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    inset 0 0 6px hsla(0, 0%, 0%, 0.10); /* Firefox 3.5+ */
    box-shadow:         inset 0 0 6px hsla(0, 0%, 0%, 0.10); /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
    color: #000;
    color: hsla(0, 0%, 0%, 1);
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

/* ==========================================================================
   Chrome Frame & Javascript prompts
   ========================================================================== */

.chromeframe,
.no-js .js-notice {
    display: block;
    padding: 0.5em 0;
    margin: 0;
    font-size: 0.8125em;
    text-align: center;
}

.chromeframe {
    border-bottom: 2px solid #d0d0d0;
    background-color: #f5f5f5;
}

.js .js-notice {
    display: none;
}

.no-js .js-notice {
    border-bottom: 2px solid #fc6;
    background-color: #ffffcc;
}

/* ==========================================================================
   Site structure & local styles
   ========================================================================== */



/* YOUR CSS GOES HERE! */



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    overflow: hidden;
    border: 0;
    background-color: transparent;
    *text-indent: -9999px; /* IE 6/7 fallback */
}

.ir:before {
    display: block;
    content: "";
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: http://cbrac.co/ZaoIxf
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: http://cbrac.co/TUcUgH
 */

.visuallyhidden {
    overflow: hidden;
    position: absolute;
    padding: 0;
    margin: -1px;
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0 0 0 0);
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: http://cbrac.co/RR8gO6
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    overflow: visible;
    margin: 0;
    position: static;
    width: auto;
    height: auto;
    clip: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clear floats manually: http://cbrac.co/SFv1Ua
 */

.clear {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    width: 0;
    height: 0;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 * 2. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 */

.clearfix:before,
.clearfix:after {
    display: table; /* 1 */
    content: " ";   /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Media queries
   ========================================================================== */

/* Grid breakpoint 1 (.bp1-*, ~480px) */
@media only screen and (min-width: 30em) {
    .bp1-col-full {
        width: 100%;
    }

    .bp1-col-one-half {
        width: 50%;
    }

    .bp1-col-one-third {
        width: 33.333%;
    }

    .bp1-col-two-thirds {
        width: 66.666%;
    }

    .bp1-col-one-quarter {
        width: 25%;
    }

    .bp1-col-three-quarters {
        width: 75%;
    }
}

/* Grid breakpoint 2 (.bp2-*, ~768px) */
@media only screen and (min-width: 48em) {
    .bp2-col-full {
        width: 100%;
    }

    .bp2-col-one-half {
        width: 50%;
    }

    .bp2-col-one-third {
        width: 33.333%;
    }

    .bp2-col-two-thirds {
        width: 66.666%;
    }

    .bp2-col-one-quarter {
        width: 25%;
    }

    .bp2-col-three-quarters {
        width: 75%;
    }
}

/* Grid breakpoint 3 (.bp3-*, ~960px) */
@media only screen and (min-width: 60em) {
    .bp3-col-full {
        width: 100%;
    }

    .bp3-col-one-half {
        width: 50%;
    }

    .bp3-col-one-third {
        width: 33.333%;
    }

    .bp3-col-two-thirds {
        width: 66.666%;
    }

    .bp3-col-one-quarter {
        width: 25%;
    }

    .bp3-col-three-quarters {
        width: 75%;
    }
}

/* Style adjustments for high resolution devices
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {} */

/* ==========================================================================
   Print styles, inlined to avoid an extra HTTP connection: http://cbrac.co/VUjfe3
   ========================================================================== */

@media print {
    * {
        box-shadow: none !important;
        background: transparent !important;
        color: #000 !important; /* Black prints faster: http://cbrac.co/XvusCs */
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* http://cbrac.co/Q6s1o2 */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
