
// 00. mixin
@import "cardinal/mixin.less";

// 01. Base................Normalize.css (minified), important styles
@import "cardinal/base.less";
// 02. Typography..........Basic typography elements
@import "cardinal/typography.less";
// 03. Non-typography......Important elements that are not type-based
@import "cardinal/non-typography.less";
// 04. Layout..............Common layout items (wrappers, islands, etc)
@import "cardinal/layout.less";
// 05. Grids...............A simple grid system & handy width classes
@import "cardinal/grids.less";
// 06. Navigation..........Menus, toolbars, etc
@import "cardinal/navigation.less";
// 07. Buttons.............Basic styles, sizes, and shapes
@import "cardinal/buttons.less";
// 08. Tables..............Styles for tabular data
@import "cardinal/tables.less";
// 09. Main................Your styles go here!
@import "user.less";
// 10. Helpers.............Some useful, global classes
@import "cardinal/helpers.less";
// 11. Print...............Inlined, barebones print styles
@import "cardinal/print.less";


//vars
@select-color: #b3d4fc;
@border-color: #d0d0d0;
@border-code-color: #d6d6d6;
@pre-color: #d6cba9;
@pre-bg-color: #333;
@bg-light-color: #efefef;
@bg-current-color: #f8f8f8;
@fg-color: #444;
@nav-hover: #222;

@button-active-color: #e7e7e7;
@button-bg-color: #e5e5e5;
@button-disable-color: #505050;
@button-disable-bg-color: #e6e6e6;
@heading-color: #686868;
@mark-color: #ff9;
@fieldset-color: #c0c0c0;
@white: #fff;
@black: #000;