/* ================================================================== *\

   Name: Your Project Name
   Info: a short description of this project.
   Link: http://yourdomain.com

   TABLE OF CONTENTS
   ---------------------------
   (Ctrl/Cmd + F, and search for `$section` to jump to a section)
   01. Base................Lay the foundation
   02. Typography..........Core styling for typography elements
       a. Links............Default styles for anchor links
       b. Headings.........Styles for site headings
       c. Text alignment...Classes for aligning text
   03. Layout..............Common layout items (grids, wrappers, etc.)
       a. Areas............Strips, wrappers, islands, wells, etc.
       b. Grids............Mobile-first, responsive grid system
       c. Floats...........Classes to clear floated elements
       d. Show/hide........Classes for toggling content
   04. Embedded content....Markup elements that use external content
   05. Syntax..............Pre-formatted text and other code styles
   06. Tables..............Basic treatment for tabular data
   07. Forms...............Styling for elements that make up a form
   08. Buttons.............States, sizes, and colors for buttons
   09. Main................Your styles go here!
   10. Print...............Inlined, barebones print styles

\* ================================================================== */

@import 'variables.less';        // Global variables used in the project
@import 'normalize.less';        // Normalize all HTML elements
@import 'base.less';             // Lay the foundation
@import 'typography.less';       // Core styling for typography elements
@import 'layout.less';           // Common layout items (grids, wrappers, etc.)
@import 'embedded-content.less'; // Markup elements that use external content
@import 'syntax.less';           // Pre-formatted text and other code styles
@import 'tables.less';           // Basic treatment for tabular data
@import 'forms.less';            // Styling for elements that make up a form
@import 'buttons.less';          // States, sizes, and colors for buttons
@import 'main.less';             // Your styles go here!
@import 'print.less';            // Inlined, barebones print styles
