/* ================================================================== *\
   Tables ($tables)
\* ================================================================== */

/* Default, borderless */
table {
    max-width: 100%;
    width: 100%;
    empty-cells: show;

    caption {
        padding-bottom: 0.317rem;
        font-weight: 700;
        font-style: italic;
    }

    th,
    tfoot td {
        color: @black;
        text-align: left;
        font-weight: @heading-font-weight;
    }

    thead th,
    tfoot td  {
        background-color: @gray-lighter;
    }

    th,
    td {
        overflow: visible;
        padding: 0.633rem;
        vertical-align: top;
    }
}

/* Outer border only */
.table-border {
    .light-border;

    &-cells{
        th, td {
            /* Borders for inner table cells */
            border-top: 1px solid @gray-light;
            border-left: 1px solid @gray-light;
        }


        tr {
            th:first-child, td:first-child{
                /* Remove top border to avoid double border on `.border` tables */
                border-left: 0;
            }
        }
        thead:first-child{
            tr:first-child {
                th, td {
                    /* Remove top border to avoid double border on `.border` tables */
                    border-top:0;
                }
            }
        }
    }

    /* Border for rows only */
    &-rows {
        th, td{
            border-top: 1px solid @gray-light;
        }

        thead:first-child{
            tr:first-child {
                th, td {

                    border-top:0; /* Remove top border to avoid double border on `.border` tables */
                }
            }
        }

        tr:last-child td {
            border-bottom: 1px solid @gray-light; /* Add bottom border to last row in the table */
        }
    }
}

/* Alternate background colors for table rows */
.table-stripes tbody > tr:nth-child(odd) > td {
    background-color: @gray-lightest;
}
