//
// Variables
// --------------------------------------------------

// Palette
@black:                         #222;
@gray-darkest:                  #444;
@gray-darker:                   #777;
@gray-dark:                     #aaa;
@gray:                          #ccc;
@gray-light:                    #dedede;
@gray-lighter:                  #efefef;
@gray-lightest:                 #f8f8f8;
@white:                         #fff;

// Base
@base-font-color:               #444;
@base-font-family:              "Helvetica Neue", Arial, sans-serif;
@base-font-size:                1rem;
@base-line-height:              1.5;

@base-border-color:             #66afe9;
@base-muted-color:              #777;

@base-link-color:               #1fa3ec;

// Headings
@heading-font-color:            #222;
@heading-font-family:           "Helvetica Neue", Arial, sans-serif;
@heading-line-height:           1.333;
@heading-font-weight:           700;


@selection-background-color:    #b3d4fc;

@blockquote-font-family:        Baskerville, "Baskerville Old Face", "Hoefler Text",
                                Garamond, "Times New Roman", serif;

// Code
@code-font-family:              Monaco, "Lucida Sans Typewriter", Consolas, "Courier New", monospace;