// Variables

// Grayscale
@black:                            #222;
@gray-darkest:                     #444;
@gray-darker:                      #777;
@gray-dark:                        #aaa;
@gray:                             #ccc;
@gray-light:                       #dedede;
@gray-lighter:                     #efefef;
@gray-lightest:                    #f8f8f8;
@white:                            #fff;

// Text selections
@selection-background-color:       #b3d4fc;

// Typography
@base-rem-unit:                    1rem;
@base-font-color:                  @gray-darkest;
@base-font-family:                 "Helvetica Neue", Arial, sans-serif;
@base-font-size:                   @base-rem-unit;
@base-line-height:                 1.5;
@base-muted-color:                 @gray-darker;
@base-link-color:                  #1fa3ec;
@base-link-hover-color:            @base-link-color;

// Blockquotes
@blockquote-font-family:           Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
@blockquote-font-size:             1.333rem;
@blockquote-border-width:          0.375rem;

// Headings
@heading-font-color:               @black;
@heading-font-family:              inherit;
@heading-line-height:              1.333;
@heading-font-weight:              700;

// Layout
@grid-gutter:                      (@base-rem-unit * 2);
@grid-breakpoint-medium:           600px;
@grid-breakpoint-large:            960px;

// Syntax
@syntax-font-size:                 0.875rem;
@syntax-font-color:                @gray-darkest;
@syntax-font-family:               Monaco, "Lucida Sans Typewriter", Consolas, "Courier New", monospace;

// Forms
@input-padding:                    0.563rem;
@input-line-height:                1.5;
@input-border-width:               1px;
@input-border-color:               @gray;
@select-height:                    40px;
@select-background:                @gray-lightest;

// Buttons
@button-border-radius:             0;
@button-mini-padding:              0.238rem 0.475rem;
@button-mini-font-size:            0.75rem;
@button-small-padding:             0.356rem 0.633rem;
@button-small-font-size:           0.875rem;
@button-default-padding:           0.633rem 0.875rem;
@button-default-line-height:       1.5;
@button-large-padding:             1rem 1.333rem;
@button-large-font-size:           1.333rem;
@button-large-line-height:         1.333;
@button-primary-background:        #1fa3ec;
@button-primary-hover-background:  #3eb0ef;
@button-primary-active-background: #1291d7;
