/* ================================================================== *\
   Helpers ($helpers)
\* ================================================================== */

/* Floats */
.float_left  { float: left !important;  }
.float_right { float: right !important; }
.float_none  { float: none !important;  }

/* Margins */
.margin_top    { margin-top: 1rem !important;    }
.margin_right  { margin-right: 1rem !important;  }
.margin_bottom { margin-bottom: 1rem !important; }
.margin_left   { margin-left: 1rem !important;   }
.margin_none   { margin: 0 !important;           }

/* Paddings */
.padding_top    { padding-top: 1rem !important;    }
.padding_right  { padding-right: 1rem !important;  }
.padding_bottom { padding-bottom: 1rem !important; }
.padding_left   { padding-left: 1rem !important;   }
.padding_none   { padding: 0 !important;           }

/* Text alignment */
.text_left    { text-align: left !important;    }
.text_right   { text-align: right !important;   }
.text_center  { text-align: center !important;  }
.text_justify { text-align: justify !important; }

/* Text sizing */
.text_huge,
.text_xxl,
.text_xl,
.text_large,
.text_medium,
.text_normal,
.text_small {
  color: inherit;
  font-weight: inherit;
}

.text_huge,
.text_xxl {
  line-height: 1.333 !important;
}

.text_huge   { font-size: 4.209rem !important; }
.text_xxl    { font-size: 3.157rem !important; }
.text_xl     { font-size: 2.369rem !important; }
.text_large  { font-size: 1.777rem !important; }
.text_medium { font-size: 1.333rem !important; }
.text_normal { font-size: 1rem !important;     }
.text_small  { font-size: 0.75rem !important;  }

@media only screen and (min-width: 640px) {
	/* Floats */
	.lap-float_left  { float: left !important;  }
	.lap-float_right { float: right !important; }
	.lap-float_none  { float: none !important;  }

	/* Margins */
	.lap-margin_top    { margin-top: 1rem !important;    }
	.lap-margin_right  { margin-right: 1rem !important;  }
	.lap-margin_bottom { margin-bottom: 1rem !important; }
	.lap-margin_left   { margin-left: 1rem !important;   }
	.lap-margin_none   { margin: 0 !important;           }

	/* Paddings */
	.lap-padding_top    { padding-top: 1rem !important;    }
	.lap-padding_right  { padding-right: 1rem !important;  }
	.lap-padding_bottom { padding-bottom: 1rem !important; }
	.lap-padding_left   { padding-left: 1rem !important;   }
	.lap-padding_none   { padding: 0 !important;           }

	/* Text alignment */
	.lap-text_left    { text-align: left !important;    }
	.lap-text_right   { text-align: right !important;   }
	.lap-text_center  { text-align: center !important;  }
	.lap-text_justify { text-align: justify !important; }

	/* Text sizes */
	.lap-text_huge   { font-size: 4.209rem !important; }
	.lap-text_xxl    { font-size: 3.157rem !important; }
	.lap-text_xl     { font-size: 2.369rem !important; }
	.lap-text_large  { font-size: 1.777rem !important; }
	.lap-text_medium { font-size: 1.333rem !important; }
	.lap-text_normal { font-size: 1rem !important;     }
	.lap-text_small  { font-size: 0.75rem !important;  }
}

@media only screen and (min-width: 960px) {
	/* Floats */
	.desk-float_left  { float: left !important;  }
	.desk-float_right { float: right !important; }
	.desk-float_none  { float: none !important;  }

	/* Margins */
	.desk-margin_top    { margin-top: 1rem !important;    }
	.desk-margin_right  { margin-right: 1rem !important;  }
	.desk-margin_bottom { margin-bottom: 1rem !important; }
	.desk-margin_left   { margin-left: 1rem !important;   }
	.desk-margin_none   { margin: 0 !important;           }

	/* Paddings */
	.desk-padding_top    { padding-top: 1rem !important;    }
	.desk-padding_right  { padding-right: 1rem !important;  }
	.desk-padding_bottom { padding-bottom: 1rem !important; }
	.desk-padding_left   { padding-left: 1rem !important;   }
	.desk-padding_none   { padding: 0 !important;           }

	/* Text alignment */
	.desk-text_left    { text-align: left !important;    }
	.desk-text_right   { text-align: right !important;   }
	.desk-text_center  { text-align: center !important;  }
	.desk-text_justify { text-align: justify !important; }

	/* Text sizes */
	.desk-text_huge   { font-size: 4.209rem !important; }
	.desk-text_xxl    { font-size: 3.157rem !important; }
	.desk-text_xl     { font-size: 2.369rem !important; }
	.desk-text_large  { font-size: 1.777rem !important; }
	.desk-text_medium { font-size: 1.333rem !important; }
	.desk-text_normal { font-size: 1rem !important;     }
	.desk-text_small  { font-size: 0.75rem !important;  }
}

/* Image replacement */
.ir {
	overflow: hidden;
	border: 0;
	background-color: transparent;
}

.ir:before {
	display: block;
	width: 0;
	height: 100%;
	content: "";
}

/* Hide from both screenreaders and browsers - http://cbrac.co/ZaoIxf */
.hidden {
	display: none !important;
	visibility: hidden;
}

/**
 * Hide only visually, but have it available for screenreaders -
 * http://cbrac.co/TUcUgH
 */

.visuallyhidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	border: 0;
}

/**
 * Extends the `.visuallyhidden` class to allow the element to be
 * focusable when navigated to via the keyboard - http://cbrac.co/RR8gO6
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	position: static;
	overflow: visible;
	clip: auto;
	margin: 0;
	width: auto;
	height: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
	visibility: hidden;
}

/* Clear floats manually - http://cbrac.co/SFv1Ua */
.clear {
	display: block;
	visibility: hidden;
	clear: both;
	overflow: hidden;
	width: 0;
	height: 0;
}

/**
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The use of `table` rather than `block` is only necessary if using
 * `:before` to contain the top-margins of child elements.
 * 2. The space content is one way to avoid an Opera bug when the
 * `contenteditable` attribute is included anywhere else on the page.
 * Otherwise it causes space to appear at the top and bottom of elements
 * that receive the `clearfix` class.
 */

.cf:before,
.cf:after {
	display: table; /* 1 */
	content: " ";   /* 2 */
}

.cf:after {
	clear: both;
}