/* ========================================================================== *\
   Utilities -> Text Alignment ($utilities-text-alignment)
\* ========================================================================== */

//
// Text alignment
//
// t = text-align
// l = left
// r = right
// c = center
// j = justify
//

.breakpoint-prefixes({
  .@{breakpoint-prefix}tl {
    text-align: left !important;
  }

  .@{breakpoint-prefix}tr {
    text-align: right !important;
  }

  .@{breakpoint-prefix}tc {
    text-align: center !important;
  }

  .@{breakpoint-prefix}tj {
    text-align: justify !important;
  }
});
