/* ========================================================================== *\
   Utilities -> Vertical Alignment ($utilities-vertical-alignment)
\* ========================================================================== */

//
// Vertical alignment
//
// va = vertical-align
// t  = top
// b  = bottom
// m  = middle
//

.breakpoint-prefixes({
  .@{breakpoint-prefix}vat {
    vertical-align: top !important;
  }

  .@{breakpoint-prefix}vab {
    vertical-align: bottom !important;
  }

  .@{breakpoint-prefix}vam {
    vertical-align: middle !important;
  }
});
