/* ================ GRAYSCALE ============================= */
BLACK         = #222 
DARKEST_GRAY  = #444 
DARKER_GRAY   = #777 
DARK_GRAY     = #aaa
GRAY          = #ccc
LIGHT_GRAY    = #dedede
LIGHTER_GRAY  = #efefef
LIGHTEST_GRAY = #f8f8f8
WHITE         = #fff

COLOR_DEFAULT       = #1fa3ec

/*================= Font-size  ====================================*/
FONT_SIZE=1rem