/* ================================================================== *\
   Buttons ($buttons)
\* ================================================================== */

/* Default (flat) */
.button
  display: inline-block
  margin: 0
  padding: 0.563rem 0.844rem
  border: 0 none
  background: LIGHT_GRAY
  color: DARKEST_GRAY
  text-align: center
  text-decoration: none
  font-size: FONT_SIZE
  line-height: 1.5
  cursor: pointer

  :active
    box-shadow: inset 0 0 6px hsla(0, 0%, 0%, 0.20)

  :focus
    outline: 5px auto -webkit-focus-ring-color
    outline-offset: -2px

  /* Styles */
  .hollow
    background: transparent
    box-shadow: inset 0 0 0 3px hsla(0, 0%, 92%, 1.0)

  .hollow:active
    background: LIGHTER_GRAY
    box-shadow: inset 0 0 6px hsla(0, 0%, 0%, 0.20)

  .chunky
    box-shadow: inset 0 -2px 0 hsla(0, 0%, 0%, 0.12)

  .chunky:active
    box-shadow: inset 0 2px 3px hsla(0, 0%, 0%, 0.2)

  .rounded
    border-radius: 0.356rem

  .pill
    border-radius: 9999rem

  .disabled,
  .disabled:active,
  [disabled]
    background: #ddd !important
    box-shadow: none !important
    color: DARKER_GRAY !important
    text-shadow: none !important
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)"
    opacity: 0.65
    cursor: not-allowed !important

  .hollow.disabled,
  .hollow.disabled:active,
  .hollow[disabled]
    background: transparent !important
    box-shadow: inset 0 0 0 3px #ddd !important

  /* Sizes */
  .large,.block 
    padding: 1rem 1.333rem
    font-size: 1.125rem
    line-height: 1.333
  .block
    display block
  .small
    padding: 0.317rem 0.75rem
    font-size: 0.875rem

  .mini
    padding: 0.238rem 0.563rem
    font-size: 0.8125rem

@media only screen and (min-width: 640px)
  .button.mini
    font-size: 0.75rem

