/* ================================================================== *\
   Code ($code)
\* ================================================================== */

/* Correct `font-family` set oddly in Safari 5 and Chrome */
code,
kbd,
pre,
samp
  color: DARKEST_GRAY
  font-family: Monaco, "Lucida Sans Typewriter", Consolas,
		"Courier New", monospace

code,
kbd
  font-size: 75%

code
  padding: 0 0.3rem
  border: 1px solid LIGHT_GRAY
  border-radius: 3px
  background: LIGHTEST_GRAY
  white-space: nowrap

/* Increase `padding` at larger viewport widths */
@media only screen and (min-width: 480px)
  code
    padding: 0.1rem 0.3rem

kbd
  position: relative
  top: -1px
  margin-bottom: 1px
  padding: 0 0.3rem
  border: 1px solid LIGHT_GRAY
  border-radius: 4px
  background: LIGHTEST_GRAY
  box-shadow: 0 1px 0px LIGHT_GRAY, inset 0 0 0 1px WHITE
  white-space: nowrap

/* Increase `padding` at larger viewport widths */
@media only screen and (min-width: 480px)
  kbd
    padding: 0.1rem 0.3rem

pre
  position: relative
  overflow: auto
  padding: 1rem
  background: BLACK
  box-shadow: inset 0 0 5px hsla(0, 0%, 0%, 0.6)
  color: GRAY
  white-space: pre
  word-wrap: normal
  word-break: normal
  tab-size: 4
  hyphens: none

/* Reset above <code> styles when nested inside <pre> tags */
pre code
  display: block
  overflow: auto
  margin: 0
  padding: 0
  height: 100%
  border: none
  border-radius: 0
  background: transparent
  color: inherit
  white-space: pre
