/* ================================================================== *\
   Links ($links)
\* ================================================================== */

/* 1. Remove the gray background color from active links in IE 10 */
a
  background: transparent
  color: COLOR_DEFAULT
  :hover
    text-decoration: none
  /* Improve readability when focused or hovered in all browsers */
  :active,:hover
    outline: 0
  /* Address `outline` inconsistency between Chrome and other browsers */
  :focus 
    outline: thin dotted
