/* ================================================================== *\

   Name: Cardinal
   Info: a small, “mobile first” CSS framework by Chris Bracco
   Link: http://cardinalcss.com

   TABLE OF CONTENTS (components)
   ---------------------------
   (Ctrl/Cmd + F, and search for `$section` to jump to a section)
   01. Base................Lay the foundation
   02. Links...............Default styles for anchor links
   03. Typography..........Basic typography elements
   04. Code................Pre-formatted text and other code styles
   05. Embedded content....Markup elements that use external content
   06. Forms...............Styling for elements that make up a form
   07. Tables..............Styles for tabular data
   08. Layout..............Common layout items (wrappers, islands, etc)
   09. Grids...............A simple grid system & handy width classes
   10. Buttons.............Basic styles, sizes, and shapes
   11. Main................Your styles go here!
   12. Helpers.............Some useful, global classes
   13. Print...............Inlined, barebones print styles

/* ================================================================== *\
   vendor prefixes ($vendor)
\* ================================================================== */
@import 'vendor.styl'

/* ================================================================== *\
   CONSTANTS (colors)
\* ================================================================== */
@import 'components/__constants.styl'

/* ================================================================== *\
   Base ($base)
\* ================================================================== */
@import 'components/base.styl'

/* ================================================================== *\
   Links ($links)
\* ================================================================== */
@import 'components/links.styl'

/* ================================================================== *\
   Typography ($typography)

   Modular scale:    12px @ 1:1.333 (perfect fourth)
\* ================================================================== */
@import 'components/typography.styl'

/* ================================================================== *\
   Code ($code)
\* ================================================================== */
@import 'components/code.styl'

/* ================================================================== *\
   Embedded content ($embedded-content)
\* ================================================================== */
@import 'components/embedded-content.styl'

/* ================================================================== *\
   Forms ($forms)
\* ================================================================== */
@import 'components/forms.styl'

/* ================================================================== *\
   Grids ($grids)
\* ================================================================== */
@import 'components/grids.styl'

/* ================================================================== *\
   Buttons ($buttons)
\* ================================================================== */
@import 'components/buttons.styl'

/* ================================================================== *\
   Helpers ($helpers)
\* ================================================================== */
@import 'components/helpers.styl'

/* ================================================================== *\
   Print ($print)
\* ================================================================== */
@import 'components/print.styl'

/* ================================================================== *\
   Main ($main)
\* ================================================================== */




/**
 * YOUR MAGICAL CSS GOES HERE!
 */



